@import url('https://fonts.cdnfonts.com/css/roboto');

* {

    font-family: 'Roboto medium', sans-serif;
}

#anchor button {
    text-decoration: none;
    color: orange;


}

#whole {

    height: 100vmax;

    margin: 0px;
    background-image: linear-gradient(pink, skyblue);
}

.container {
    background-color: yellow transparent;

}

#display {

    height: 100%;
}

#task-display {
    list-style: none;
    display: block;
}

#task-list {
    border: 5px solid white;
    margin: 5px;
    padding: 20px;
    background-color: cyan;
    display: flex;
    justify-content: space-between;
}

#close-btn {
    cursor: pointer;

}

button {
    margin: 5px;
}